.main{
	background: blue;
	transition: width 1s, height 1s, transform 2s;
	-moz-transition: width 1s, height 1s, -moz-transform 2s;
	-webkit-transition: width 1s, height 1s, -webkit-transform 2s;
	-o-transition: width 1s, height 1s,-o-transform 2s;
}
@media screen and (max-width: 1280px) {
    .main{
		width:960px;
		height: 640px;
	}
}
@media screen and (max-width: 960px) {
    .main{
		width:640px;
		height: 480px;
	}
}
@media screen and (max-width: 640px) {
    .main{
		width:480px;
		height: 320px;
	}
}