html{
	font-size: 100px;
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 1200px) {
	.stable{
		width: 8rem;
		height: 3.2rem;
		background: #00FF00;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.stable{
		width: 6rem;
		height: 2.4rem;
		background: #FF0000;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.stable{
		width: 4rem;
		height: 1.6rem;
		background: #0000FF;
	}
}
@media screen and (max-width: 768px) {
	.stable{
		width: 3.2rem;
		height: 1.28rem;
		background: #999999;
	}
}