<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="demo">
    姓：<input type="text" placeholder="First Name" v-model="firstName"><br>
    名：<input type="text" placeholder="Last Name" v-model="lastName"><br>
    姓名1（单向）：<input type="text" placeholder="Full Name1" v-model="fullName1"><br>
    姓名2（单向）：<input type="text" placeholder="Full Name2" v-model="fullName2"><br>
    姓名3（双向）：<input type="text" placeholder="Full Name3" v-model="fullName3"><br>

  </div>
  <script src="vue.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    const vm = new Vue({
      el: "#demo",
      data: {
        firstName: "A",
        lastName: "B",
        fullName2: "A B"

      },
      computed: { //计算属性
        fullName1() {
          return this.firstName + " " + this.lastName
        },
        fullName3: {
          //1.你定义的 2.你没有调用 3.但最终它执行了
          //回调函数 计算并返回当前属性的值
          get() {
            return this.firstName + " " + this.lastName
          },
          //回调函数，当属性值发生改变时回调，更新相关的属性数据
          set(value) { //value就是fullName3的最新属性值
            const names = value.split(" ");
            this.firstName = names[0];
            this.lastName = names[1];
          }
        }
      },
      watch: { //配质监视
        firstName: function (value) { //firstName发生变化
          this.fullName2 = value + " " + this.lastName;
        }
      }
    })
    vm.$watch('lastName', function (value) { //lastName发生变化
      this.fullName2 = this.firstName + " " + value
    })
  </script>
</body>

</html>