<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="demo">
    <h2>遍历数组</h2>
    <ul>
      <li v-for="(p,index) in persons" :key="index">
        {{index}}---{{p.name}}---{{p.age}}
        ---<button @click="deleteP(index)">删除</button>
        ---<button @click="updateP(index,{name:'Cat',age:20})">更新</button>
      </li>
    </ul>

    <h2>遍历对象</h2>
    <p>
      <ul>
        <li v-for="(item,key) in persons[1]" :key="key">
          {{item}}---{{key}}
        </li>
      </ul>
    </p>
  </div>
  <script src="vue.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    new Vue({
      el: "#demo",
      data: {
        persons: [{
            name: 'Tom',
            age: 18
          },
          {
            name: 'asd',
            age: 17
          },
          {
            name: 'yusy',
            age: 16
          },
          {
            name: 'ujhg',
            age: 19
          },
        ]
      },
      methods: {
        deleteP(index) {
          this.persons.splice(index, 1);
        },
        updateP(index, newP) {
          // vue本身只是见识了persons的改变，没有监视数组内部的数据变化
          // this.persons[index] = newP;
          this.persons.splice(index, 1, newP);

        }
      }
    })
  </script>
</body>

</html>