<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="test">
    <input type="text" v-model="searchName">
    <ul>
      <li v-for="(p,index) in filterPersons" :key="index">
        {{index}}---{{p.name}}---{{p.age}}
      </li>
    </ul>
    <button type="button" @click="order(1)">年龄升序</button>
    <button type="button" @click="order(2)">年龄降序</button>
    <button type="button" @click="order(0)">原本顺序</button>
  </div>
  <script src="vue.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    new Vue({
      el: "#test",
      data: {
        persons: [{
            name: 'Tom',
            age: 18
          },
          {
            name: 'asd',
            age: 17
          },
          {
            name: 'yusy',
            age: 16
          },
          {
            name: 'ujhg',
            age: 19
          },
        ],
        searchName: "",
        orderType: 0, //0 原始 1升序 2降序
      },
      computed: {
        filterPersons() {
          const {
            searchName,
            persons,
            orderType
          } = this;
          let fPersons;
          fPersons = persons.filter(p => p.name.indexOf(searchName) >= 0)

          if (orderType !== 0) {
            fPersons.sort(function (p1, p2) { //如果返回负数p1在前，返回正数p2在前
              if (orderType === 2) {
                return p2.age - p1.age;
              } else if (orderType === 1) {
                return p1.age - p2.age;
              }
            })
          }

          return fPersons;
        }
      },
      methods: {
        order(index) {
          this.orderType = index;
        }
      }
    })
  </script>
</body>

</html>